#disable target directory
target/
Users/
.settings/
.externalToolBuilders/
.idea/

#file
.metadata
.DS_Store
*.launch
.classpath
local.properties
.factorypath
.buildpath
.target
.tern-project
.springBeans
.loadpath
.recommenders
.project
*.tmp
*.bak
*.swp
*~.nib
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
docs/*.bak
*.iml
