<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">


<mapper namespace="User">
    <resultMap id="resultCommentVo" type="com.q1.blog.vo.CommentVo">
        <id property="id" column="id" />
        <result property="userId" column="user_id"/>
        <result property="postId" column="post_id"/>
        <result property="toDate" column="todate"/>
        <result property="toDateGmt" column="todategmt"/>
        <result property="author" column="author"/>
        <result property="authorEmail" column="author_email"/>
        <result property="authorUrl" column="author_url"/>
        <result property="content" column="content" />
        <result property="type" column="type"/>
        <result property="parent" column="parent"/>
    </resultMap>

    <insert id="insertComment" parameterType="com.q1.blog.vo.CommentVo" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO comments ( 
		 user_id
		, post_id
		, todate
		, todategmt
		, author
		, authror_email
		, content
		, type
		<if test="parent != null">
		, parent
		</if>
		) VALUES ( 
		
		 #{userId}
		, #{postId}
		, NOW()
		, #{toDateGmt}
		, #{author}
		, #{authorEmail}
		, #{authorUrl}
		, #{content}
		, #{type}
		<if test="parent != null">
		, #{parent}
		</if>
		 ) 
	</insert>
 
    <select id="selectCommentList" parameterType="java.util.HashMap" resultMap="resultPostVo">
        SELECT * FROM users LIMIT 10
    </select>

</mapper>